@font-face {
  font-family:"Eurostile";
  src:url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.eot");
  /* IE9*/
    src:url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/5987feab8cd947c702ef4938e8e68509.svg#Eurostile") format("svg");
}

