/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.mar.2017, 12:52:03
    Author     : Team STP
*/

.navigation-clean-button {
    background:#f0f0f0;
    padding-top:10px;
    padding-bottom:10px;
    color:#848484;
    border-radius:0;
    box-shadow:none;
    border:none;
    margin-bottom:10px;
}
 #logoutglyficon{
        margin-top: 5px;
    }

.navigation-clean-button .navbar-brand {
    color:inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color:#286090;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover {
    color:#f0f0f0;
}

.navigation-clean-button .navbar-toggle {
    border-color:#f0f0f0;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus {
    background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle {
    border-color:#848484;
}

.navigation-clean-button .navbar-toggle .icon-bar {
    background-color:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar {
    background-color:#f0f0f0;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form {
    border-top-color:#ddd;
   
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form {
    border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a {
    background:none;
    box-shadow:none;
}

.navigation-clean-button.navbar .navbar-nav > li > a {
    padding-left:18px;
    padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
    color:#f0f0f0;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
    color:#f0f0f0!important;
    background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    background-color:#848484;
    border-radius:1px;
    
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a {
    line-height:1;
    font-size:20px;
    
    color:#f0f0f0;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover {
    background:inherit;
    color:inherit;
}


.navigation-clean-button.navbar-inverse {

    color:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a {
    color:#f0f0f0;
}

.navigation-clean-button .actions {
    margin-top:7px;
    margin-bottom:0;
    background-color:#848484;
}

.navigation-clean-button .actions .login {
    margin-right:7px;
    text-decoration:none;
    color:#848484;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active {
    background:#337ab7;;
    border-radius:10px;
    color:#f0f0f0;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
    background:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active {
    background:#f0f0f0;
}

.navigation-clean-button.navbar-inverse .action-button:hover {
    background:red;
}

.navigation-clean-button .dropdown-menu > li > a:hover {
    background-color:#337ab7;;
}

#navlist li {
    font-size:20px;
    font-weight: bold;
    color:#f0f0f0;
    margin-top:5px;
    text-align: left; 
    margin-right: 20px;  
    border: 1px;
    border-color: #2e6da4;
}

.navigation-clean-button .navbar-nav .open .dropdown-menu > li > a:hover {
    color:white;
}

ul#list.nav.navbar-nav li.active a {
    color:#f0f0f0;

}
.navbar-brand {
    padding:0px 10px;
}

#toplogocss {
    max-height:60px;
    padding-bottom: 5px;
}

#navlist li:hover {
    color:white;
    background-color:#337ab7;;
    
}

#navtop {
    background-color:#848484;
    height:80px;
  
}


nav#navbar.navbar.navbar-default.navigation-clean-button {
    background-color:#848484;
    color:#f0f0f0;
}

ul#list.nav.navbar-nav li.active a {
    color:#f0f0f0;
}


.navbar-brand {
    padding:0px 10px;
}


#navcol-1 {
    background-color:#848484;
    
}

#logout_button{
    border: none;
    height: 50px;
}

@media (max-width:768px) {
    .navigation-clean-button .navbar-header {
        padding-top:10px;
        padding-bottom:10px;
    }
    

    .navigation-clean-button .navbar-right {
        margin-bottom:20px;
    }
    .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a {
        color:#f0f0f0;
        font-size:15px;
        background-color:#848484;
        line-height: 1;
        margin-bottom: 0;
        margin-top: 0;
        cursor:pointer; 
     
        
    } 
    .navigation-clean-button .navbar-nav .open .dropdown-menu > li {
        box-shadow:none;
        background-color:#848484;            
    }
    #toplogocss {
        max-height:45px;
       
    }
    .navbar-toggle {
        display: block;
        
    }
   
     #navlist li{
        margin-left: 10px;
        font-size: 15px; 
        cursor:pointer; 
    }
    #logout_button
    {
        margin-top: 5px; 
        height: 40px;
    }
     #logoutglyficon{
        margin-top: 5px;
    }
    
}

@media (max-width:1100px) and (min-width: 768px)
{
    .navigation-clean-button .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-top: 15px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        margin-top: 13px;
       
    }
    
    .navbar-collapse.collapse {
        display: none!important;
        
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        
    }
    .navbar-nav>li {
        float: none;
     
    }
    
    .collapse.in{
        display:block !important;
    }
    #navlist li{
      
      margin-left: 10px; 
      margin-bottom: 5px;
      margin-top: 0;
      padding-bottom: 0;
      padding-top:0;    
      cursor:pointer; 
    }
    #navlist{
        width: 100%;
        margin-bottom: 15px;
        cursor:pointer; 
    }
    
    #logoutglyficon{
        margin-top: 10px;
    }
    
    #logout_button{
        height: 50px;
    }    
}


